Links:
<ul>
  <li>
    {{link-to "foo" "foo"}}
  </li>
  <li>
    {{link-to "bar" "foo.bar"}}
  </li>
  <li>
    {{link-to "baz" "foo.bar.baz"}}
  </li>
</ul>

Breadcrumbs 1:
{{bgr-breadcrumbs}}

{{outlet}}
